<!DOCTYPE html>
<html>
<head>
  <title>double sharing</title>

</head>
<body>
  <h1>Double Sharing</h1>
  <p>Double sharing Room Cost:7000/month <br> Adv: 3000 at time of joining</p>
  <form action="/doublesharing" method="POST">
  <label for="Name">Name</label>
            <input type="text" id="name" name="name" required><br><br>
  <label for="Place">Place</label>
            <input type="text" id="place" name="place" required><br><br>
  <label for="number">Mobile Number</label>
            <input type="text" id="number" name="number" required><br><br>

  <p>Do you want to make a booking?</p>
  <button onclick="bookNow()">Yes</button>
  <button>No</button>
  </form>
</body>
</html>