<html>
    <head>
        <title> login page </title>
    </head>
    <body>
    <form action="/login_user" method="POST">
            <h2>SRIJAN'S PG</h2>
            <hr/>
            <label for="txtUname">Username</label>
            <input type="text" id="txtUname" name="username" required><br><br>

            <label for="txtPassword">Password</label>
            <input type="password" id="txtPassword" name="password" required><br><br>

            <input type="submit" value="Login">
        </form>
        <a href="/customers_signup0">Not having account? Sign Up</a> <br>

        <a href="/customers_delete"> delete account </a> <br>

        <a href="/customers_update"> Update account </a>

    </body>

</html>